<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">

    </head>
    <body>
        <form method='post' action='/aluno/atualizar/{{a.id}}' >
            <p>Nome: <input type="text" name="nome" value='{{a.Nome}}'></p>
             <p>Sexo [M/F]: <input type="text" name="sexo" value='{{a.Sexo}}'></p>
            <p>CPF: <input type="text" name="cpf" value='{{a.Cpf}}'></p>
            <p>Data de Nascimento: <input type="text" name="nascimento" value='{{a.Data_de_Nascimento}}'></p>
            <p>Matrícula: <input type="text" name="matricula"  value='{{a.Matricula}}'></p>
            <input type="submit" value="Atualizar">
        </form>
    </body>
</html>