<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">

    </head>
    <body>
        <h2>Cadastros encontrados:</h2>
        <table>
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Opção</th>
            </tr>
          
           <tr>
               <td>{{aluno.Matricula}}</td>
               <td>{{aluno.Nome}}</td>
               <td>{{aluno.Sexo}}</td>
               <td>{{aluno.Data_de_Nascimento}}</td>
               <td>{{aluno.Cpf}}</td>
               <td><a href="/aluno/atualizar/{{aluno.id}}">
                <button>Editar</button>
            </a>  
            <a href="/aluno/excluir/{{aluno.id}}">
                <button>Excluir</button>
            </a></td>
           </tr>

        
    </body>
</html>